/* ==UserStyle==
@name         AniChart Darker
@namespace    github.com/DishankJ/AniList-Darker
@version      1.0.2
@description  Theme for AniChart
@author       Dishank Jaiswal
@homepageURL  https://github.com/DishankJ/AniList-Darker
@supportURL   https://github.com/DishankJ/AniList-Darker/issues
@updateURL    https://github.com/DishankJ/AniList-Darker/raw/main/AniChart-Darker.user.styl
==/UserStyle== */

.nav[data-v-e2f25004] {
    background: #16191b;
}

:root {
    --color-blue: 255,105,97;
}

.site-theme-dark {
    --color-background: 28,31,34;
    --color-foreground: 25, 27, 30;
    --color-foreground-grey: 18,18,18;
    --color-foreground-grey-dark: 16,20,25;
    --color-foreground-blue: 25, 27, 30;
    --color-foreground-blue-dark: 19,23,29;
    --color-text: 159,173,189;
    --color-text-light: 129,140,153;
    --color-text-lighter: 133,150,165;
    --color-scroll-bar: 133,150,165;
}

.nav[data-v-623b90a2] {
    background: rgb(22,22,22);
}
