/* ==UserStyle==
@name         AniList Darker
@namespace    github.com/DishankJ/AniList-Darker
@version      1.0.7
@description  Dark theme with red accent for AniList.
@author       Dishank Jaiswal
@homepageURL  https://github.com/DishankJ/AniList-Darker
@supportURL   https://github.com/DishankJ/AniList-Darker/issues
@updateURL    https://github.com/DishankJ/AniList-Darker/raw/main/AniList-Darker.user.styl
==/UserStyle== */

@-moz-document url-prefix("https://anilist.co") {

.site-theme-dark {
    --color-background: 28,31,34;
    --color-foreground: 25, 27, 30;
    --color-blue: 255,105,97;
    --color-foreground-blue: 25, 27, 30;
    --color-background-100: 20,22,24;
    --color-background-200: 17,19,20;
    --color-gray-100: 20,22,24;
    --color-foreground-grey: 20,22,24;
    --color-foreground-grey-dark: 17,19,20;
}

.footer[data-v-6f9ee47f] {
    background: rgb(20,22,24);
}

.hamburger[data-v-8aeb5e9a], .menu[data-v-8aeb5e9a] {
    box-shadow: 0 1px 20px rgba(0,0,8,.2);
}

.site-theme-dark .nav-unscoped {
    background: #16191b;
}

.site-theme-dark .nav-unscoped.transparent {
    background: rgba(22,25,27,.5);
}

.site-theme-dark .nav-unscoped.transparent:hover {
    background: #16191b;
}

.site-theme-dark .quick-search {
    background: rgba(17,19,20,.9);
}

h2[data-v-6f9ee47f] {
    color: #ff6961;
}

}

@-moz-document regexp("^https://anilist.co/anime/.*/.*/watch") {

@media screen and (max-width: 760px) {
    .external-links[data-v-da429fba] {
        display: inline;
    }
}

@media (max-width: 1040px) {
    .watch[data-v-7e52d138] {
    margin-top: 20px;
    }
}

@media (max-width: 760px) {
    .data[data-v-c657baee] {
    display: none;
    }
}

.content[data-v-da429fba] {
    margin-top: 18.5px;
}

}

@-moz-document regexp("^https://anilist.co/manga/.*/.*/stats") {

@media screen and (max-width: 760px) {
    .external-links[data-v-da429fba] {
        display: inline;
    }
}

@media screen and (max-width: 760px) {
    .data[data-v-c657baee] {
        display: none;
    }
}

.content[data-v-da429fba] {
    margin-top: 18.5px;
}

}
